.container_form {
  display: flex;
  justify-content: center;



}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  margin: 5%;
  padding: 10%;
  text-align: start;
  border: 2px solid black;
  background-color: rgba(45, 214, 3, 0.322);
}